@page "/counter"
@using VUI
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<VUI.VUIButton Text="Click me"
               Normal_BackgroundColor="#0000ff"
               Clicked_BackgroundColor="#ff0000"
               MouseEnter_BackgroundColor="#00ff00"
               MouseLeave_BackgroundColor="#ffff00"
               MouseDown_BackgroundColor="#00ffff"
               MouseUp_BackgroundColor="#ff00ff"
               OnClicked="onclicked"/>

<p role="status">Current count: @currentCount</p>

@code {

    private int currentCount = 0;


    private void onclicked(VUIButton btn)
    {
        currentCount++;
    }
}
